<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask BBC</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="jumbotron" style="color:black">

    <h1 style="color:black">

        Flask simple web app

    </h1>
</div>

<div class="container">

    {% for new, des, im in data %}

    <img src="{{im}}" alt="">
    <h2>News: </h2> {{new}}
    <h3>Description: </h3> {{des}}

    {% endfor %}


</div>

</body>
</html>