<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Login Page</title>
  </head>
  <body>
    <center>
	  <h1>Bienvenidos al portal de noticias mas avanzado de la historia, Inicie sesion.</h1>
	  <form action="/login" method="POST">
	   <br><br>
	      <input type="text" name="name" placeholder="Username">
	   <br><br>
	      <input type="password" name="password" placeholder="Password">
	   <br><br>
	      <button type="submit">Submitt</button>
	  </form>
	</center>
  </body>
 </html>